{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block title %}Genres index{% endblock %}

{% block body %}
    <h1>Liste des Genres</h1>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.idGenre }}</td>
                <td>{{ genre.nomGenre }}</td>
                <td>
                <td class="actions">
                    <a href="{{ path('app_genres_admin_edit', {'id': genre.idGenre}) }}" class="btn btn-primary btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun genre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    <a href="{{ path('app_genres_admin_new') }}" class="btn btn-primary mt-3">Ajouter un genre</a>
{% endblock %}
