{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid px-2">
		<div class="row g-3 justify-content-start films-grid">
			{% for film in films %}
				<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 d-flex justify-content-center">
					<div class="card film-card text-white position-relative">

						{% if film.affiche %}
							<img src="{{ asset(film.affiche) }}" class="card-img-top" alt="{{ film.titre }}">
						{% else %}
							<img src="{{ asset('images/default.png') }}" class="card-img-top" alt="Affiche par défaut">
						{% endif %}
						<a href="{{ path('film_show', { id: film.idFilm }) }}" class="stretched-link">
							<div class="card-body">

								<h5 class="card-title">{{ film.titre }}</h5>
								<p class="card-text">
									{{ film.annee }}
									{% if film.genres|length > 0 %}
										-
										{{ film.genres|first.getNomGenre() }}
									{% endif %}
								</p>
								<!-- Lien cliquable qui recouvre toute la card -->
							</a>
						</div>

					</div>
				</div>
			{% endfor %}
		</div>
		<div class="d-flex justify-content-center mt-4">
			{{ knp_pagination_render(films) }}
		</div>
	</div>
{% endblock %}
