{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('crud') }}
{% endblock %}

{% block title %}Pays index{% endblock %}

{% block body %}
    <h1>Liste des Pays</h1>

    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pay in pays %}
            <tr>
                <td>{{ pay.idPays }}</td>
                <td>{{ pay.nomPays }}</td>
                <td>
                <td class="actions">
                    <a href="{{ path('app_pays_admin_edit', {'id': pay.idPays}) }}" class="btn btn-primary btn-sm">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun pays trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

    <a href="{{ path('app_pays_admin_new') }}" class="btn btn-primary mt-3">Ajouter un pays</a>
{% endblock %}
