{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid px-5">

    <div class="row g-3 justify-content-start">

        {% for film in films %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 d-flex justify-content-center">
                <!-- Ici 5 colonnes sur xl et plus -->
                <div class="card film-card text-white">
                    {% if film.affiche %}
                        <img src="{{ asset(film.affiche) }}" class="card-img-top" alt="{{ film.titre }}">
                    {% else %}
                        <img src="{{ asset('images/default.png') }}" class="card-img-top" alt="Affiche par défaut">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ film.titre }}</h5>
                        <p class="card-text">
                            {{ film.annee }}
                            {% if film.genres|length > 0 %}
                                - {{ film.genres|first.getNomGenre() }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
